@{
    Layout = "_Layout";
    ViewData["Title"] = "File search";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Web.ViewModels.FilesSearchModel

<head>
    <title>@ViewData["Title"]</title>
</head>
<div class="d-grid gap-3">
    <div>
        <form asp-action="FilesSearch" asp-controller="Hosting" method="get">
            <div class="container w-25 d-grid gap-3">
                <h1 class="text-center">Files search</h1>
                <div class="form-group">
                    <label class="form-label">Choose search type</label><br />
                    <input type="radio" value="@Web.Enums.FilesSearchTypes.ByName" checked asp-for="SearchType" />
                    <span>By name</span><br />
                    <input type="radio" value="@Web.Enums.FilesSearchTypes.ByExtension" asp-for="SearchType" />
                    <span>By extension</span><br />
                    <input type="radio" value="@Web.Enums.FilesSearchTypes.ByCategory" asp-for="SearchType" />
                    <span>By category</span><br />
                </div>
                <div class="form-group">
                    <label class="form-label">Enter search query</label><br />
                    <input type="search" asp-for="SearchQuery" class="form-control" />
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Search" class="btn btn-outline-dark" />
                </div>
            </div>
        </form>
    </div>
    <div>
        @{
            if (Model != null)
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Author</th>
                            <th scope="col">Category</th>
                            <th scope="col">Link</th>
                        </tr>
                    </thead>
                    @{
                        foreach (var userFile in Model.UserFileCollection)
                        {
                            <tr>
                                <td>@userFile.File.Name</td>
                                <td>@userFile.User.Login</td>
                                <td>@userFile.File.Category</td>
                                <td>@Html.ActionLink("File page", "FilePage", "Hosting", new { fileId = userFile.File.Id })</td>
                            </tr>
                        }
                    }
                </table>
            }
        }
    </div>
</div>
